.ProseMirror {
  padding: 10px;
  outline: 1px solid #cccccc;
  background: white;
  min-height: 100px;
  border-radius: 4px;
  max-height: 142px;
  overflow-y: auto;
}
.ProseMirror:focus-visible {
  outline: 2px solid #7750F8;
}

.ProseMirror > * {
  margin: 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

/* ............................ */
.textEditor {
  border-radius: 5px;
  border: 1px solid grey;
}
.menuBar {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border: 1px solid #DEDEDE;
}
.menuBar-category {
  border-right: 1px solid #DEDEDE;
  display: flex;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
  padding: 3px;
  height: 30px;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is_active {
  background: rgb(197, 197, 197);
  padding: 3px;
  height: 30px;
  border-radius: 2px;
}